- current_page = request.path_info.split("/")[1]
- @footer_left ||= "foo"
- @footer_right ||= "bar"
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %title= current_page
    %style @import url("/styles.css");
  %body
    #page{:class => current_page}
      = haml(:navigation, :layout => false)
      #content
        = yield
      #footer
        .left= @footer_left 
        .right= @footer_right
        .clear